{
  "singleQuote": true,
  "quoteProps": "consistent",
  "importOrder": ["react", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[.](.*)"],
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "classProperties",
    "[\"decorators\", { \"decoratorsBeforeExport\": true }]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
