.splashContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    /*background: rgb(197,199,210);*/
    /*background: radial-gradient(circle, rgba(197,199,210,1) 0%, rgba(65,78,105,1) 85%);*/
}

.splashContainer .splash-icon{
    width: 60%;
    height: 60vh;
    margin-left: 20%;
    margin-top: 20vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-origin: border-box;
    background-image: url("../../assets/logo.svg");
}

.img {
    max-width: 50%;
    max-height: 50%;
    /*margin-top: 40%;*/
    vertical-align: middle;
    /*margin-bottom: 40px;*/
    margin-left: -14%;
}
