.splashContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.img {
    max-width: 50%;
    max-height: 50%;
    margin-top: 30%;
    vertical-align: middle;
    margin-bottom: 50px;
}
