name: Build for Windows, Linux And MacOs

on:
  push:
    tags:
      - 'v*.*.*'
      - 'desktop-v*.*.*'

permissions:
  contents: write

env:
  CI: false

jobs:
  desktop:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-15-intel, macos-latest]
        include:
          - os: ubuntu-latest
            platform: linux
            suffix: ''
            extension: AppImage
          - os: windows-latest
            platform: Windows
            suffix: ''
            extension: exe
          - os: macos-15-intel
            suffix: ''
            platform: MacOS
            extension: dmg
          - os: macos-latest
            suffix: '-arm64'
            platform: MacOS
            extension: dmg
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Prepare repo
        uses: ./.github/actions/prepare
        with:
          node-version: '20.19'

      - name: Prepare repo
        uses: './.github/actions/build-native'
        with:
          package_json_paths: 'apps/wallet/package.json'

      - name: Remove icns from assets
        if: matrix.platform != 'MacOS'
        run: rm apps/wallet/electron/assets/appIcon.icns

      - name: Build Electron
        id: build_app
        working-directory: ./apps/wallet/electron
        run: npm i; npm run electron:make

      - name: Release
        uses: './.github/actions/release'
        with:
          extension: ${{ matrix.extension }}
          suffix: ${{ matrix.suffix }}
          input_file: './apps/wallet/electron/dist'
