name: Build for Android
on:
  push:
    tags:
      - 'v*.*.*'
      - 'android-v*.*.*'

permissions:
  contents: write

env:
  CI: false

jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare repo
        uses: './.github/actions/prepare'
        with:
          node-version: 22.18
          package_json_paths: 'apps/wallet/package.json'

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: Setup Android build environment
        uses: android-actions/setup-android@v3

      - name: Grant execute permission for gradlew
        run: chmod +x ./apps/wallet/android/gradlew

      - name: Update AndroidManifest.xml
        uses: damienaicheh/update-android-version-manifest-action@v1.0.0
        with:
          android-manifest-path: './apps/wallet/android/app/src/main/AndroidManifest.xml'
          version-code: ${{ env.NUMBER_OF_COMMITS }}
          version-name: '${{ env.MAJOR }}.${{ env.MINOR }}.${{ env.PATCH }}${{ env.PRE_RELEASE }}'
          print-file: true

      - name: Update gradle version for Android
        uses: damienaicheh/update-android-version-gradle-action@v1.0.0
        with:
          build-gradle-path: './apps/wallet/android/app/build.gradle'
          version-code: ${{ env.NUMBER_OF_COMMITS }}
          version-name: '${{ env.MAJOR }}.${{ env.MINOR }}.${{ env.PATCH }}${{ env.PRE_RELEASE }}'
          print-file: true

      - name: Build app bundle
        working-directory: apps/wallet/android
        run: ./gradlew clean app:assembleRelease

      - uses: r0adkll/sign-android-release@v1
        name: Sign app APK
        # ID used to access action output
        id: sign_app
        env:
          BUILD_TOOLS_VERSION: 34.0.0
        with:
          releaseDirectory: apps/wallet/android/app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEYSTORE }}
          alias: ${{ secrets.SIGNING_KEY_ALIAS }}
          keyStorePassword: ${{ secrets.SIGNING_STORE_PASSWORD }}
          keyPassword: ${{ secrets.SIGNING_KEY_PASSWORD }}

      - name: Move file to root directory
        shell: bash
        run: mv ${{steps.sign_app.outputs.signedReleaseFile}} ./apps/wallet/android/minotaur-${{ env.MAJOR }}.${{ env.MINOR }}.${{ env.PATCH }}${{ env.PRE_RELEASE }}.apk

      - name: Release
        uses: './.github/actions/release'
        with:
          extension: 'apk'
          input_file: './apps/wallet/android/'
